* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004AAD;
    color: #fff;
    padding: 20px 0;
    justify-content: space-between; /* Alinha os ícones no canto direito */
    align-items: center;
}

.img1 {
  width: 10%;
  padding: 50px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Centraliza horizontalmente o conteúdo dentro do elemento */
    padding: 20px;
  
}

.user {
  display: flex;
  justify-content: flex-end; /* Centraliza horizontalmente o conteúdo dentro do elemento */
  padding: 0px;
  background-color: black;
}

.example {
  margin:auto;
  max-width: 50%;
}

form.example {
  text-align: center; /* Centraliza o texto e, portanto, o <input> dentro do formulário */
}

form.example input[type=text] {
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin: 80px auto 0 auto; /* Centraliza horizontalmente o <input> dentro do formulário */
}

  form.example input[type=text]:focus {
    width: 100%;
  }
  
  .produtos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /*Duas colunas por linha */
    gap: 20px; /* Espaço entre os produtos */
    margin: 20px;
}

.corpoProduto {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.comprar {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.carrinho {
  display: none; /* Inicialmente, o carrinho está oculto */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 40px;
  background-color: white;
}

#carrinho-itens {
  list-style-type: none;
  padding: 0;
}

.contador-carrinho {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  

.cart {
  position: relative;
}

footer {
  background-color: #004AAD;
  color: #fff;
  padding: 20px 0;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.banner {
  background-image: url('seu-banner.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 100px 0;
  margin-top: 30px;
}

.banner h1 {
  font-size: 36px;
  margin: 10px 0;
}

.banner p {
  font-size: 18px;
  margin: 20px 0;
}

.banner a {
  display: inline-block;
  background-color: #004AAD;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s;
}

.banner a:hover {
  background-color: #003799;
}



